






<div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                    Profile
                </a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in">
            <div class="panel-body">
                <div class="list-group">
                    <div class="list-group-item">@Html.ActionLink("View Profile", "MyProfile", "Teacher")</div>
                    <div class="list-group-item">@Html.ActionLink("Edit Profile", "About", "Home")</div>
                    <div class="list-group-item">@Html.ActionLink("Logout", "Index", "Home")</div>

                </div>
            </div>
        </div>
    </div>
   
  

<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                Purchase Requsation
            </a>
        </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse">
        <div class="panel-body">
            <div class="list-group">
                <div class="list-group-item">@Html.ActionLink("Create PR", "Create", "teacher_pr_final")</div>
                <div class="list-group-item">@Html.ActionLink("Request From Store", "store", "Teacher")</div>
                

            </div>
        </div>
    </div>
</div>
</div>