@model Identity.Models.Meeting

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/Store_keeper_layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Meeting</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.agenda)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.agenda)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.venue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.venue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.calledBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.calledBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.otherMeetingDetails)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.otherMeetingDetails)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MeetingID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
