<div class="navbar-collapse collapse">
    @Html.ActionLink("Admin Panel", "admin_panel", "Home", new { area = "" }, new { @class = "navbar-brand" })
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("table view", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
        <li>@Html.ActionLink("Admin Panel", "admin_panel", "Home")</li>
        <li>
            <ul class="nav nav-tabs">
                <li class="dropdown">
                    <a class="dropdown-toggle"
                       data-toggle="dropdown"
                       href="#">
                        Dropdown
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- links -->
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                </li>
            </ul>
        </li>

    </ul>

</div>


